//META{"name":"Orbit CSS","description":"Theme for my friends.","author":"Sake#0009","version":"1.4"}*//
/*
   ____       _     _ _   
  / __ \     | |   (_) |  
 | |  | |_ __| |__  _| |_ 
 | |  | | '__| '_ \| | __|
 | |__| | |  | |_) | | |_ 
  \____/|_|  |_.__/|_|\__|
                                      
*/
/*
*********************************************************************************************************
DISCLAIMER: This theme is meant for personal use and use for my friends.
            I have made this in honor of my friends, my puppy who passed away, and in general to better
            familiarze myself with css.

            Please do not redistribute the theme or claim it as your own, I worked really hard on this
            theme over the past few years in order to bring a better experience to you guys and myself.

            Thank you - Sake#0009
*********************************************************************************************************
*/
/*
*********************************************************************************************************
@IMPORTS - used to import the code required for the theme to work. do not remove these or it will break
            your theme file.
            
        @import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
           mwittrien.github.io - Server columns

        non-@imports
           Laxr#2405 - compact user list
*********************************************************************************************************
*/
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url('raw.githubusercontent.com/Sakezone/orbit/master/orbit_source.css');
:root
{
/*
*********************************************************************************************************
Theme Settings
*********************************************************************************************************
*/
/*     PLACE THE IMAGE LINK BETWEEN THE QUOTES, HIGHLIGHT EVERYTHING IN QUOTES THEN PASTE.               */
/*     MAIN COLOR MUST BE A HEXCODE VALUE, YOU CAN FIND A COLOR WHEEL FOR THAT ON GOOGLE.                */
  --mainBackground     : url(""); /* Main Discord Background              */
  --settingsBackground : url(""); /* Settings Sidebar Image               */
  --userPopout         : url(""); /* Image for User Popout                */
  --homeIcon           : url(""); /* Discord Icon on top left             */
  --profileBackground  : url(""); /* Image for view profile menu          */
  --contextMenu        : url(""); /* Menu when you rightclick on discord  */
  --mainColor          : #f85252;                              /* Main Accent color of the theme       */ 
  --secondColor        : #ac0d0d;                              /* Secondary Accent color of the theme  */ 
  --unreadColor        : var(--mainColor);                       /* Unread Color for guild notifs        */
  --emojiSize          : 50px;                                   /* Size of the static emojis in chat    */
  --emojiHoverSize     : 70px;                                   /* Size of an emoji when hovering on it */
  --topValue           : 0.3;                                    /* Darkness value for top gradient      */
  --bottomValue        : 0.6;                                    /* Darkness value for bottom gradient   */
  --fontSize           : 16px;                                   /* Font size for the user's username    */
  --messageSpacing     : 35px;                                   /* Amount of space between messages     */
                                                                 /* Use lower values = more compact      */
  --avatarSize         : 50px;                                   /* Avatar Size                          */
  --profileSize        : 80px;                                   /* Profile Avatar Size                  */
  --avatarRound        : 50%;                                    /* Avatar roundness 50% Circle.         */
  --columns            : 1;	                                     /* amount-servercolumns default: 2      */
  --guildsize          : 50;                                     /* pixel-serversize default: 50         */
  --aligndms           : 0;	                                     /* should DMs be aligned in columns:    */
                                                                 /* 0 = no, 1 = yes                      */
  --round              : 50%;	                                 /* Roundness for guilds & borders       */
}