
/*
*********************************************************************************************************
Maki
Author       : tsukidan#
*********************************************************************************************************
*/
/*
*********************************************************************************************************
Un-modifiable root
*********************************************************************************************************
*/
:root 
{
/*
*********************************************************************************************************
String Variables
*********************************************************************************************************
*/
  --version-content : " 1.0";
  --themeName       : "Maki";
  --watermark       : " created by: tsuki#0101";

/*
*********************************************************************************************************
Variables for text and shadows
*********************************************************************************************************
*/
  --mainTextSize        : 600;
  --dropShadowValue     : 0 2px 3px rgba(0,0,0,0.5);
  --dropShadowValueDark : 0 1px 2px rgba(0,0,0,0.95);
  --statusShadowValue   : 0 0 8px;
  --boldTextShadow      : 0 2px 3px rgba(0,0,0,0.5)!important;
  --boldTextSize        : 900!important;
  --boldTextColor       : #fff!important;
  --backdropVal         : saturate(180%) blur(20px);
/*
*********************************************************************************************************
Animations
*********************************************************************************************************
*/
  --bounce : cubic-bezier(.42,0,0.02,1.39);
  --bounce2: cubic-bezier(.42,0,0.02,1.39);
/*
*********************************************************************************************************
Transparency
*********************************************************************************************************
*/
  --background-secondary: transparent;
  --background-primary: transparent;
  --background-tertiary: transparent;
/*
*********************************************************************************************************
Blur
*********************************************************************************************************
*/
  --blur  : blur(20px) saturate(180%);
  --blurBg: rgba(0,0,0,0.5);
  --blurBorder: 30px;
  --blurBorderSm: 15px;
/*
*********************************************************************************************************
Text Shadow
*********************************************************************************************************
*/
  --textShadow: 0 2px 7px #000;
  --channels-default: #FFF;
  --background-message-hover: transparent;
}
/*
*********************************************************************************************************
Channel List
*********************************************************************************************************
*/
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: var(--blurBorderSm);
}

.icon-2W8DHg
{
  color:var(--mainColor);
}
.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, 
.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg
{
  color: var(--secondColor);
}


.emojiImage-1mTIfi
{
  height: var(--emojiSize);
  width: var(--emojiSize);
}
.theme-dark .autocomplete-3NRXG8
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
}
/*
*********************************************************************************************************
Profiles
*********************************************************************************************************
*/

/*Backdrop*/
.backdrop-2ByYRN.withLayer-2VVmpp
{
  opacity: 0.4!important;
}
.imageWrapper-oMkQl4.image-36HiZc
{
  filter: drop-shadow(0 0 30px #000) ;
}

.body-1Ukv50, .topSection-13QKHs
{
  background: transparent;
}
.theme-dark .root-g14mjS
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
}
/*
*********************************************************************************************************
Friends List
*********************************************************************************************************
*/
.tabBody-2dgbAs:before
{
  display: none;
}
.theme-dark .container-2cd8Mz
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
  margin: 30px;
  padding: 10px;
}
.peopleListItem-u6dGxF
{
  border: none;
}
.theme-dark .inset-SbsSFp
{
  background: var(--blurBg);
}

.avatar-2MSPKk
{
  height: 50px!important;
  width: 50px!important;
  image-rendering: crisp-edges;
}
/*
*********************************************************************************************************
Main Chat Text
*********************************************************************************************************
*/
/*Roles*/
.role-2TIOKu
{
  background: transparent;
}
/*Profile Badges*/
.badgeList-2aoHPw
{
  filter:drop-shadow(0 0 10px #000);
}
.avatar-3QF_VA
{
  border: none;
  filter: drop-shadow(0 0 10px #000);
  background-color: transparent;
}
/*User Profile Border*/
.connectedAccount-1xKpli
{
  border: none;
}
/*Border Between Messages*/
.divider-2rZFJK, .body-1Ukv50, .topSection-13QKHs
{
  border: none;
}
.content-3spvdd
{
  color: var(--mainColor);
  font-weight: 900;
  font-size: 14px;
}
/*Embedds*/
.embedFull-1HGV2S
{
  margin-left: -30px;
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: var(--blurBorder);
  transition: all ease-in-out 0.3s;
}
.embedFull-1HGV2S:hover
{
  box-shadow: 0 0 10px #000;
}
/*Attatchments*/
.wrapper-2vIMkT
{
  backdrop-filter: var(--blur);
  border: none;
  background: var(--blurBg);
}
.activityEmoji-24oKjc, .activityEmoji-SDBJp8, .customStatusEmoji-3UDRIW
{
  height: 20px!important;
  width: 20px!important;
}

/*Date in chat*/
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
display: none;
} 
/*New Message Bar */
.group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u,
.group-spacing-16 .divider-IqmEqJ
{
  z-index: 0;
}

/*Reactions*/
.reactionCount-1zkLcN
{
    color: #FFF;
    font-weight: 900;
    text-shadow: 0 2px 3px #000;
}
.reaction-2A2y9y .emoji
{
  height: calc(var(--reactionSize) - 10%)!important;
  width: calc(var(--reactionSize) - 10%)!important;
  margin: .5rem 0;
  transition: 0.7s all ease-in-out;
  max-width: var(--reactionSize)!important;
}
.reactionCount-1zkLcN 
{
text-align: right!important;
}
.reaction-2A2y9y.reactionMe-3I9gFK
{
    background: rgba(0,0,0,0.65);
    border: 1.5px solid var(--mainColor);
    filter: drop-shadow(0 2px 3px var(--mainColor));
}
.reactionMe-3I9gFK .reactionCount-1zkLcN, .reactionMe-3I9gFK:hover .reactionCount-1zkLcN
{
    color: var(--boldTextColor)!important;
    font-weight: var(--boldTextSize);
    text-shadow: var(--boldTextShadow);
}
.reactionCount-1zkLcN, .theme-dark .reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN
{
    color:var(--boldTextColor);
    font-weight: var(--boldTextSize);
    text-shadow: var(--boldTextShadow);
}
.theme-dark .reaction-2A2y9y.reactionMe-3I9gFK
{
    background-color: var(--mainColor);
}
.theme-dark .reaction-2A2y9y
{
    background: rgba(0,0,0,0.4);
}

/*Emoji*/
.emoji.jumboable
{
  height: var(--emojiSize);
  width : var(--emojiSize);
  transition: 400ms all var(--bounce);
}

/*In chat mentions*/
.mentioned-Tre-dv
{
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
}
.ephemeral-2nDdnn:before, .mentioned-Tre-dv:before, .replying-eZ7p5z:before
{
  display: none;
}
.channelName-3KPsGw, .subtitle-3PyFgf
{
  font-style: italic;
  opacity: 0.8;
  font-size: 15px;
}
/*margin for chat messages*/
.group-spacing-16 .groupStart-3Mlgv1
{
    margin-top: calc(var(--avatarSize) - var(--messageSpacing));
}

.popout-TdhJ6Z
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: var(--blurBorderSm);
}

/*Time stamp*/
.cozy-VmLDNB .timestamp-p1Df1m
{
  color: #FFF;
  opacity: 0.55;
  font-style: italic;
}

/*username in chat*/
.username-h_Y3Us
{
    font-weight: var(--boldTextSize)!important;
    color: var(--boldTextColor);
    text-shadow: var(--boldTextShadow);
    margin-left: calc(var(--avatarSize) - 39px);
}
.markup-eYLPri
{
  color: rgba(255,255,255,0.9);
  font-weight: 500;
  text-shadow: var(--textShadow);
}

.markup-eYLPri,
.container-2sjPya{
  left: calc(var(--avatarSize) - 40px);
}

/*Chat and Message Bar movement*/
.form-3gdLxP, .scrollerInner-2PPAp2
{
  margin-right: 80px;
}
.avatar-2e8lTP{
  width: var(--avatarSize) !important;
  height: var(--avatarSize) !important;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 400ms var(--bounce);
  border-radius: var(--avatarRound);
}
.avatar-2e8lTP:hover{
  width: calc(var(--avatarSize) + 25px)!important;
  height:calc(var(--avatarSize) + 25px)!important;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Server Invites*/
.wrapper-1HIH0j
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: var(--blurBorder);
}
/*
*********************************************************************************************************
Removing default background color
*********************************************************************************************************
*/
.sidebar-1tnWFu
{
  background-color: transparent!important;
}
.scrollableContainer-15eg7h
{
  background: transparent;
}
/*
*********************************************************************************************************
Main Discord Background
*********************************************************************************************************
*/

.appMount-2yBXZl
{
  background: linear-gradient(to bottom,  rgba(0,0,0,var(--topValue)) 0%,
                              rgba(0,0,0,var(--bottomValue)) 100%), 
                              var(--mainBackground)!important;
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}
/*
*********************************************************************************************************
Settings
*********************************************************************************************************
*/
.accountProfileCard-lbN7n-
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
}
/*Description Box*/
.textArea-3WXAeD
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: var(--blurBorderSm);
}
/*Red button*/
.lookOutlined-3yKVGo.colorRed-rQXKgM
{
  backdrop-filter: var(--blur);
}
/*
*********************************************************************************************************
Discord Main Page
*********************************************************************************************************
*/
.wordmarkWindows-2dq6rw
{
  display: none;
}
.header-3OsQeK
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
}
/*Guild header & Channel Topic box shadow removal*/
.content-1jQy2l:before, .header-3OsQeK
{
  box-shadow: none;
}
.container-ZMc96U.themed-Hp1KC_
{
  margin-left: 2px;
  margin-bottom: 4px;
}
.header-3OsQeK
{
  margin-right: 2px;
}

.scroller-3X7KbA
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 15px;
}
.platform-win .sidebar-1tnWFu
{
  margin-left: 5px;
}
/******* Members List Area ******/
/*Memberlsit dropshadow on each item*/

/*Code Snippet from Laxr's CSS Theme*/
.membersWrap-3NUR2t {
  position: absolute;
  right: 0;
  height: 100%;
  min-width:unset;
}
.members-3WRCEx{
  width: 70px;
  transition: all 600ms var(--bounce2);
  border-radius: 30px 0 0 30px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter:blur(20px);
}
.members-3WRCEx:hover {
  width: 250px!important;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(0, 0, 0, 0.35);
  opacity: 1;
  height: 100%!important;
}
.members-3WRCEx:hover
{
  background: rgba(0, 0, 0, 0.5);
}
.popoutBanner-19WKGg
{
  opacity: 0;
}
.theme-dark .members-3WRCEx .membersWrap-3NUR2t {
  text-transform: uppercase;
  text-align: left;
  border-radius: 3px;
  background:transparent;
  display: none;
  min-width: 10px;
  height: 20px;
  font-weight: 900;
  font-size: 14px;
  color: var(--mainColor)!important;
}
.members-3WRCEx:hover .membersWrap-3NUR2t {
  display: block;
  max-width: 205px;
}
.members-3WRCEx .image-33JSyf {
  border-radius: 5px;
}
.members-3WRCEx .username-1cB_5E {
  font-size: var(--fontSize);
  font-weight: 900;
  line-height: calc(var(--fontSize) + 6px);
}
.members-3WRCEx .activity-1IYsbk {
  overflow: visible;
  font-size: 0;
}
.members-3WRCEx .activity-1IYsbk:before {
  font-size: 11px;
  margin-left: -35px;
  color: transparent;
}
.members-3WRCEx .activity-1IYsbk strong {
  font-weight: 600;
  font-size: 11px;
  color: #fff;
}
.members-3WRCEx .activity-1IYsbk,
.members-3WRCEx .memberInner-2CPc3V {
  opacity: 0;
  transition: all 100ms ease;
}
.members-3WRCEx:hover .activity-1IYsbk,
.members-3WRCEx:hover .memberInner-2CPc3V{
  opacity:1;
}

.app {
  overflow-x: hidden !important;
}
.members-3WRCEx .mask-3OgeRz {
  -webkit-mask: none;
  mask: none;
}
.members-3WRCEx .avatar-16XVId.small-5Os1Bb {
  transform:scale(1.2);
}
.members-3WRCEx:hover .avatar-16XVId.small-5Os1Bb {
  transform:scale(1);
}

.browser-mnQ1T7, .messagesPopoutWrap-3zryHW
{
  backdrop-filter: var(--blur);
  background: var(--blurBg);
}

.wrapper-3NnKdC, div#channels.scroller-RmtA4e.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2,
.members-1998pB
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.animatedContainer-2laTjx, .bannerImage-ubW8K- {
  position: absolute;
  height: 129px;
  /* top: 25px; */
  left: 0;
  border-radius: 19px;
}

div.progressBar-1Tzim4.bar-ZqH2NU
{
  background-color: var(--mainColor);
}
.progressBarContainer-2E4oR-
{
  box-shadow: 0 0 5px #000;
  margin-top: -5px;
}

.textArea-1sjhGG
{
  backdrop-filter: var(--blur);
  background:var(--blurBg);
  border-radius: 15px;
}

/*
*********************************************************************************************************
User Popouts
*********************************************************************************************************
*/

.userPopout-2j1gM4
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
}
/*Userpopout Description box*/
.bodyInnerWrapper-2bQs1k
{
  background: transparent;
}
.footer-3naVBw, .input-2z42oC
{
  background: transparent;
  border: none;
}
.panels-3wFtMD
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorder);
  margin-bottom: 15px;
}

/*Drop Down Menu in settings*/
.popout-1KHNAq, .container-2O1UgZ
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
  border-radius: var(--blurBorderSm);
}


.drawerSizingWrapper-1txdWG
{
  background: var(--blurBg);
  backdrop-filter: var(--blur);
}
/*
*********************************************************************************************************
Version Content Keyframes - used for the intro animation when loading the css.
*********************************************************************************************************
*/

#app-mount::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 5px;
  color: var(--mainColor);
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  font-family:'Whitney'!important;
  line-height: 100vh;
  opacity: 0;
  text-shadow: 5px 4px 20px rgba(0,0,0,1)!important;
  filter:drop-shadow(5px 5px 20px rgba(0,0,0,1))!important;
  z-index: 9999;
  pointer-events: none;
  animation: initialize-bg 10s;
  /* animation-iteration-count: infinite; */
}
@keyframes initialize-bg {
  0% {
      content: var(--themeName) var(--version-content);
      -webkit-transform: scale(.7);
      transform: scale(.7);
 }
  10% {
      opacity: 0;
      -webkit-transform: scale(.7);
      transform: scale(.7);
 }
  15% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
 }
  25% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
 }
  29% {
      content: var(--themeName) var(--version-content);
      opacity: 0;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
 }
  34% {
      content: "change your settings within the theme file"; 
      opacity: 0;
      -webkit-transform: scale(.7);
      transform: scale(.7);
 }
  40% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
 }
  55% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
 }
  59% {
      content: "change your settings within the theme file"; 
      opacity: 0;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
 }
  60% {
      content:var(--watermark);
      opacity: 0;
      -webkit-transform: scale(.7);
      transform: scale(.7);
 }
  65% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
 }
  77% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
 }
  83% {
      opacity: 0;
 }
  100% {
      content: var(--watermark);
      -webkit-transform: scale(.6);
      transform: scale(.6);
      opacity: 0;
 }
}